.logo__container {
  display: flex;
  position: absolute;
  top: 30px;
  left: 30px;
  height: 100px;
  width: 160px;

  img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
  }
}

.display__flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1025px) {
  .logo__container {
    position: static;
    padding-bottom: 50px;
    margin-right: 40px;
  }
}

@media (max-width: 450px) {
  .logo__container {
    display: none;
  }
}
