@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");

.Card__background {
  background: rgba(0, 0, 0, 0.514);
  height: 100vh;
  width: 100%;
  z-index: 10;
}

.Card__container {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: skyblue;
  border: 1.5px solid rgb(0, 47, 255);
  .Card__container-cross {
    display: flex;

    h2 {
      font-size: 40px;
      cursor: pointer;
      color: red;
      position: absolute;
      right: 20px;
      top: 10px;
    }
  }

  .Card__container-created_img {
    height: 100%;

    img {
      height: 100%;
    }
  }

  .Card__container-created_text {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 50px;
    .Card__container-message {
      display: flex;
      flex-direction: column;
      text-align: center;

      h1 {
        color: white;
        text-shadow: 1px 1px 2px black;
        font-family: "Pacifico", cursive;
        text-transform: capitalize;
        font-size: 42px;
      }

      h2 {
        font-size: 50px;
        margin-top: 15px;
      }
    }
  }
}
