@import url("https://fonts.googleapis.com/css2?family=Julee&display=swap");

.HomePage__container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #8e2de2, #e00000);
  background-size: 400% 400%;
  animation: gradientAnimation 10s ease infinite;

  .HomePage__logo-container {
    img {
      background-color: rgba(255, 255, 255, 0.685);
    }
  }

  @keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  h1 {
    font-size: 150px;
    text-transform: capitalize;
    color: white;
    font-family: "Julee", cursive;
  }

  p {
    font-size: 40px;
    color: white;
  }

  
  .HomePage__message-container {
    display: flex;
    align-items: center;
    margin-left: 28px;
    img {
      height: 45px;
      padding: 0 10px;
    }
  }

  @mixin userInfo($pt, $fontp, $fonts) {
    display: flex;
    flex-direction: row;
    padding-top: $pt;

    p {
      color: rgb(161, 140, 140);
      font-size: $fontp;
    }

    span {
      color: white;
      font-size: $fonts;
    }
  }

  .HomePage__userinfo-container_1 {
    @include userInfo(30px, 30px, 30px);
  }
  .HomePage__userinfo-container_2 {
    @include userInfo(15px, 30px, 30px);
  }

  .HomePage__logout {
    margin-top: 20px;
    button {
      padding: 15px 40px;
      border-radius: 10px;
      border: 1px solid rgb(255, 255, 255);
      cursor: pointer;
      font-size: 15px;
      font-weight: bold;
      background-color: #e22d90;
      color: whitesmoke;

      &:hover {
        background-color: red;
      }
    }
  }
}

@media (max-width: 770px) {
  .HomePage__container {
    h1 {
      font-size: 100px;
    }

    p {
      font-size: 30px;
    }

    @mixin userInfo($pt, $fontp, $fonts) {
      padding-top: $pt;

      p {
        font-size: $fontp;
      }

      span {
        font-size: $fonts;
      }
    }

    .HomePage__userinfo-container_1 {
      @include userInfo(30px, 25px, 25px);
    }
    .HomePage__userinfo-container_2 {
      @include userInfo(15px, 25px, 25px);
    }
  }
}

@media (max-width: 500px) {
  .HomePage__container {
    h1 {
      font-size: 80px;
    }

    p {
      font-size: 25px;
    }

    @mixin userInfo($pt, $fontp, $fonts) {
      padding-top: $pt;

      p {
        font-size: $fontp;
      }

      span {
        font-size: $fonts;
      }
    }

    .HomePage__userinfo-container_1 {
      @include userInfo(30px, 20px, 20px);
    }
    .HomePage__userinfo-container_2 {
      @include userInfo(15px, 20px, 20px);
    }

    .HomePage__logout {
      button {
        padding: 10px 30px;
        font-size: 13px;
      }
    }
  }
}

@media (max-width: 380px) {
  .HomePage__container {
    h1 {
      font-size: 80px;
      text-align: center;
    }

    .HomePage__message-container {
      margin-top: 10px;

      p {
        font-size: 22px;
      }

      img {
        height: 30px;
      }
    }

    .HomePage__userinfo-container_1,.HomePage__userinfo-container_2 {
      display: flex;
      flex-direction: column;
      text-align: center;
    }
  }
}
